body {
    font-family: 'Roboto';
}

.table-container {
    margin: 0 auto;
    width: 400px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.top-bar{
    display: flex;
    flex-direction: column;
}
.middle-bar {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 13px;
    width: 340px;
}

.bottom-bar {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5px;
    width: 340px;
}

.stop-watch {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
}

.manual-mode {
    display: flex;
    justify-content: center;
}

.levels {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.lives-container {
    display: flex;
    justify-content: flex-start;
}

table {
    
    text-align: center;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: rgb(190, 186, 186);
    table-layout: fixed;
    width: 250px;
    height: 250px;
    border-spacing: 0px;
}

td {
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: silver;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    border-bottom: solid 2px #7b7b7b;
    border-right: solid 2px #7b7b7b;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
}

.mark {
    background-color: white;
    /* font-size: 50px; */
}

.hints {
    display: flex;
}

.hint-mark {
    background-color: antiquewhite;
}

.smiley-container {
    display: flex;
    justify-content: center;
    
    margin-left: 13px;
}

.timer {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
}

.safe-cell {
    background-color: red;
}

.dark-mode {
    background-color: black;
    color: white;
}

.mines-left{
    font-size: 15px;
    margin-top: 8px;
}


.dark{
    display: flex;
    justify-content: center;
}

.high-score{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}